*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
nav{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.nav{
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 15px;  
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
nav ul{
    display: flex;
    align-items: center;
}
nav ul li img{
    width: 80px;
    height: 40px;
    background: transparent;
}
.cart-icon img{
    width: 40px;
    height: 20px;
}
nav ul li{
    list-style: none;
    height: 40px;
    margin: 0 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
nav ul li:hover{
    background-color: yellow;
    border-radius: 0px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 0 5px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 60px;
    padding: 20px 25px;
}
.container-1{
    width: auto;
}
.heading-1 h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
.heading-1 h6{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
}
.heading-content-1{
    margin-bottom: 20px;
}
.heading-content-1 p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}
.heading-2{
    margin-top: 10px;
    margin-bottom: 35px;
}
.heading-2 h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.heading-2 p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}
.heading-3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading-3 h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.heading-3 p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}
.social-media-link ul{
    display: flex;
}
.social-media-link ul li{
    list-style: none;
}
.social-media-link ul li svg{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.social-media-link ul li svg:hover{
    background-color: red;
    transform: rotate(360deg);
    border-radius: 50%;
    transition: 0.5s;
}
.container-2{
    width: auto;
}
.container-2 img{
    width: 500px;
    height: 500px;
}
.footer-details{
    margin-top: 10px;
    padding: 5px 0;
    background-color: lightgray;
}
.footer-details h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-details p{
    font-size: 15px;
    color: black;
    text-align: left;
}
.container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}
.container-footer .col ol li{
    list-style: none;
    margin: 10px;
}
.col-banner{
    display:flex;
    flex-direction: row;width: 500px;
}
.col-banner img{
    width: 75px;
    height: 25px;
}


@media screen and (max-width:800px) {
    .nav{
        display: none;
   }
    body{
         overflow-x: hidden;
    }
    nav ul li a{
        font-size: 12px; 
    }
   .container-2 img{
         width: fit-content;
         height: 500px;
   }
   .col-banner{
    display:flex;
    flex-direction: row;width: 270px;
}
.footer-details h1{
    font-size: 15px;
}
.container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
}
.col-banner{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.copy-right{
    font-size: 10px;
}
.col-banner p{
    font-size: 10px;
}
.col ol li{
    font-size: 10px;

}
}

@media screen and (min-width:400px) and (max-width:650px) {
    nav{display: none;
    }
    body{
        overflow-x: hidden;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .nav img{
        width: 70px;
        height: 30px;
    }
    .nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav ul li{
        list-style: none;
        padding: 2px 5px;
    }
    .nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 700;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
    }
    .dropdown {
        float: left;
        overflow: hidden;
      }
      .dropdown .dropbtn {
        font-size: 12px;  
        font-weight: 700;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        border: none;
        outline: none;
        color: black;
        padding: 2px 5px;
        background-color: inherit;
        margin: 0;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: fit-content;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        font-size: 10px;
        color: black;;
        padding: 12px 10px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    .container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 20px;
        padding: 20px 25px;
    }
    .container-1{
        width: 100%;
        order: 2;
    }
    .container-2{
        display: flex;
        place-items: center;
    }
    .container-2 img{
        width: 350px;
        height: 300px;
        order: 1;
        margin-bottom: 50px;
    }
    .footer-details{
        width: 100%;
    }
    .container-footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    .col-banner{
        display: flex;
        flex-direction: column;
        width: 120px;
    }
    .copy-right{
        font-size: 10px;
    }
    .col-banner p{
        font-size: 10px;
    }
    .col ol li{
        font-size: 10px;
    }

}