*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
    margin: 5px;
}
.nav{
    display: none;
}
nav{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 15px;  
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
nav ul{
    display: flex;
    align-items: center;
}
nav ul li img{
    width: 80px;
    height: 40px;
    background: transparent;
}
.cart-icon img{
    width: 40px;
    height: 20px;
}
nav ul li{
    list-style: none;
    height: 40px;
    margin: 0 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
nav ul li:hover{
    background-color: yellow;
    border-radius: 0px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 0 5px;
}
aside{
    margin-top: 60px;
    display: flex;
}
.side-bar{
    width: 220px;
    height: fit-content;
    background-color:transparent;
    padding: 2px 4px;
}
.side-bar ul{
    list-style: none;
}
.side-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 5px;
}
.side-bar ul li a:hover{
    background-color: yellow;
}
.side-bar p{
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}
.radio-row{
    margin-left: 5px;
    padding: 2px 0;
}
.radio-row label{
    font-size: 14px;
    margin: 2px;
    padding: 2px;
    font-weight: 500;
    color: black;
}
input[type="color"]{
    width: 25px;
    height: 25px;
    outline: none;
    cursor: pointer;
    margin: 1px;
    border-radius: 50%;
    border: none;
    border: 2px solid whitesmoke;
}
.color-select{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.side-bar-button {
    margin-top: 10px;
    display: grid;
    justify-items: center;
}
.side-bar-button button{
    background-color: yellow;
    color: black;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    width: 100px;
}
.side-bar-button button:hover{
    background-color: black;
    color: white;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
    margin-top: 10px;
    place-items: center;
}
.product-content{
    display: grid;
    place-items: center;
    margin: 10px 20px;
}
.product-card{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.product-card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.product-content p{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: black;
    line-height: 1.5;
}
.product-content a{
    text-decoration: none;
    color: brown;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.product-content button{
    background-color: yellow;
    color: black;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    width: 75px;
    margin-top: 10px;
}
.product-content button:hover{
    background-color: black;
    color: white;
}
.page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.page-button ul{
    display: flex;
    list-style: none;
}
.page-button ul li{
    border: 1px solid whitesmoke;
    background-color:white;
    padding: 10px 10px;
}
.page-button ul li:hover{
    background-color: black;
}
.page-button ul li a:hover{
    color: white;
}
.page-button ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
.footer-details{
    margin-top: 10px;
    padding: 5px 0;
    background-color: lightgray;
}
.footer-details h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-details p{
    font-size: 15px;
    color: black;
    text-align: left;
}
.container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}
.container-footer .col ol li{
    list-style: none;
    margin: 10px;
}
.col-banner{
    display:flex;
    flex-direction: row;width: 500px;
}
.col-banner img{
    width: 75px;
    height: 25px;
}

@media screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    .nav{
        display: none;
    }
    nav{  
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0;
    }
    nav ul li a{
        font-size: 15px;
    }
    nav ul li img{
        width: 50px;
        height: 30px;
    }
    .product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 10px;
        place-items: center;
    }
    .side-bar{
        width: 180px;
        height: fit-content;
    }
    .product-card{
        width: 180px;
    }
    .product-card img{
        width: 150px;
        height: 250px;
    }
    .page-button ul li a{
        padding: 10px;
    }
    .page-button ul li{
        padding: 10px;
    }
    .footer-details h1{
        font-size: 15px;
    }
    .container-footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 700px;
    }
    .col-banner{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .copy-right{
        font-size: 10px;
    }
    .col-banner p{
        font-size: 10px;
    }
    .col ol li{
        font-size: 10px;

    }
}

@media screen and (min-width:390px) and (max-width:799px) {
    nav{display: none;
    }
    body{
        overflow-x: hidden;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .nav img{
        width: 70px;
        height: 30px;
    }
    .nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav ul li{
        list-style: none;
        padding: 2px 5px;
    }
    .nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 700;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
    }
    .dropdown {
        float: left;
        overflow: hidden;
      }
      .dropdown .dropbtn {
        font-size: 12px;  
        font-weight: 700;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        border: none;
        outline: none;
        color: black;
        padding: 10px 5px;
        background-color: inherit;
        margin: 0;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: fit-content;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        font-size: 10px;
        color: black;;
        padding: 12px 10px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    .side-bar{
        width: 180px;
        height: fit-content;
    }
    .product{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px 10px;
        place-items: center;
    }
    .product-card{
        width: 250px;
    }
    .product-card img{
        width: 200px;
        height: 250px;
    }
    .page{
        border: 5px solid black;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page ul{
        display: flex;
        justify-content: center;
    }
    .footer-details{
        width: 100%;
    }
    .container-footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    .col-banner{
        display: flex;
        flex-direction: column;
        width: 120px;
    }
    .copy-right{
        font-size: 10px;
    }
    .col-banner p{
        font-size: 10px;
    }
    .col ol li{
        font-size: 10px;
    }
}
